<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="netTcpServiceBinding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"  maxReceivedMessageSize="1073741824">
                    <security mode="None">
                        <transport clientCredentialType="None"/>
                    </security>
                    <readerQuotas maxStringContentLength ="1073741824" maxArrayLength ="1073741824" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                </binding>
            </netTcpBinding>
        </bindings>

        <behaviors>
            <endpointBehaviors>
                <behavior name="ContextSendBehavior">
                    <contextPropagationElement isReturnContext="false" />
                </behavior>
            </endpointBehaviors>
        </behaviors>

        <extensions>
            <behaviorExtensions>
                <add name="contextPropagationElement" type="TLog.Core.ContextPropagation.ContextSendElement, TLog.Core, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
            </behaviorExtensions>
        </extensions>

        <client>
            <!--用户管理-->
            <endpoint address="net.tcp://localhost:8910/Service"
                      binding="netTcpBinding"
                      bindingConfiguration="netTcpServiceBinding"
                      behaviorConfiguration="ContextSendBehavior" 
                      contract="Ser1.IContract.IContract"
                      name="Ser1Endpoint"/>
        </client>
    </system.serviceModel>
</configuration>