################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/TLog/packages/Newtonsoft.Json.11.0.2
/TLog/.vs/TLog/v15
/TLog/TLog.Core/obj/Debug
/TLog/TLog.Core/bin/Debug
