################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/TLog/packages/Newtonsoft.Json.11.0.2
/TLog/.vs/TLog/v15
/TLog/TLog.Core/obj/Debug
/TLog/TLog.Core/bin/Debug
/TLog/packages/MrAdvice.2.5.24
/TLog/Ser1.WcfHelper/obj/Debug
/TLog/Ser1.WcfHelper/bin/Debug
/TLog/Ser1.Service/obj/Debug
/TLog/Ser1.Service/bin/Debug
/TLog/Ser1.IContract/obj/Debug
/TLog/Ser1.IContract/bin/Debug
/TLog/Ser1.Host/obj/Debug
/TLog/Ser1.Host/bin/Debug
/TLog/ClientWinForm/obj/Debug
/TLog/ClientWinForm/bin/Debug
/TLog/packages/MrAdvice.2.5.25
/TLog/packages
/TLog/TLog.SysLogCollector/obj/Debug
/TLog/TLog.SysLogCollector/bin/Debug
/TLog/.vs/TLog/v16
